<div class="text-center">
    <main role="main">
        <h1 class="cover-heading">CHRONOS</h1>
        <p class="lead">Simple system to clock in and clock out</p>
        <p class="lead">
            <%= link_to "Sign In", new_user_session_path, :class => "btn btn-lg btn-secondary" %>
        </p>
    </main>
</div>