<section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="mt-5">CHRONOS</h1>
          <p>Simple system to clock in and clock out</p>
          <p class="lead">
            <%= link_to "Sign In", new_user_session_path, :class => "btn btn-lg btn-secondary" %>
        </p>
        </div>
      </div>
    </div>
</section>